<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/itracer</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<property name="hibernate.c3p0.initialPoolSize">3</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<property name="hibernate.c3p0.validate">true</property>
		<property name="hibernate.c3p0.numHelperThreads">10</property>
		<property name="hibernate.c3p0.testConnectionOnCheckin">true</property>
		<property name="hibernate.c3p0.testConnectionOnCheckout">false</property>

		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">create</property>

		<mapping class="com.eric.itracer.entity.url.UrlVisit" />
		<mapping class="com.eric.itracer.entity.url.UrlEnter" />
		<mapping class="com.eric.itracer.entity.url.UrlExit" />
		<mapping class="com.eric.itracer.entity.click.ButtonClick" />
		<mapping class="com.eric.itracer.entity.click.HyperlinkClick" />
		<mapping class="com.eric.itracer.entity.click.InputClick" />
	</session-factory>
</hibernate-configuration>